<footer>
  <img width="20" height="20" src="{{ default.logo.footer_url }}" alt="">
  <p>
    Glossier Inc.<br />
    233 Spring Street<br />
    Floor 10 New York, NY 10013<br />
    5 New Street Square, London, EC4A 3TW<br>
  <p>To learn how we process data and monitor communications, please see our <a
      href="{{ default.privacy_policy_url }}">Privacy Policy</a> and Terms of Use.
    This message was sent to you because you opted into receiving marketing from us.</p>
  <a href="https://glossier.com/">glossier.com</a> // <a href="mailto:gteam@glossier.com"
    target="_top">gteam@glossier.com</a><br />
  </p>
</footer>